html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(110, 110, 124);
    background-repeat: no-repeat;
    background-size: 100%;
    user-select: none;
}

.entityContainer{
    position: absolute;
    display: flex;
    height: 75px;
    width: 100px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.Entity{
    position: absolute;
    height: 200px;
    width: 300px;
    z-index: 2;
    margin-top: 20px;
}

#weapon{
    position: absolute;
    bottom: 0%;
    right: 15%;
    width: 200px; 
    height: 200px;
    z-index: 9;
}

@keyframes EntityMoveSet1 {
    0%{
        top: 5%;
        right: 15%;
    }
    33%
    {
        top: 30%;
        right: 25%;
    }
    67%
    {
        top: 45%;
        right: 10%;
    }
    100%
    {
        top: 80%;
        right: 15%;
    }
}

@keyframes EntityMoveSet2 {
    0%{
        top: 80%;
        left: 40%;
    }
    33%
    {
        top: 60%;
        left: 35%;
    }
    67%
    {
        top: 40%;
        right: 50%;
    }
    100%
    {
        top: 10%;
        left: 45%; 
    }
}